Repository Team-studywithme/studyWithMe-BackEnd, pull requests merged in 2023-05, with the labels that each got.

#41 feat : "restdocs 설정 추가"
  build.gradle
Labels: backend, feature, docs

#38 feature : "게시물 관련 코드와 테스트를 진행한다."
  src/main/java/team/studywithme/api/controller/BoardApiController.java
  src/main/java/team/studywithme/api/controller/CommentApiController.java
  src/main/java/team/studywithme/api/controller/PostApiController.java
  src/main/java/team/studywithme/api/controller/dto/request/CommentRequest.java
  src/main/java/team/studywithme/api/controller/dto/request/PostRequest.java
  src/main/java/team/studywithme/api/controller/dto/request/UpdateCommentRequest.java
  src/main/java/team/studywithme/api/controller/dto/request/UpdatePostRequest.java
  src/main/java/team/studywithme/api/controller/dto/response/BoardResponse.java
  src/main/java/team/studywithme/api/controller/dto/response/CommentDetailResponse.java
  src/main/java/team/studywithme/api/controller/dto/response/PostDetailResponse.java
  src/main/java/team/studywithme/api/controller/dto/response/PostResponse.java
  src/main/java/team/studywithme/config/WebConfig.java
  src/main/java/team/studywithme/domain/entity/Avatar.java
  src/main/java/team/studywithme/domain/entity/Board.java
  src/main/java/team/studywithme/domain/entity/Comment.java
  src/main/java/team/studywithme/domain/entity/Post.java
  src/main/java/team/studywithme/repository/AvatarRepository.java
  src/main/java/team/studywithme/repository/BoardRepository.java
  src/main/java/team/studywithme/repository/CommentRepository.java
  src/main/java/team/studywithme/service/AvatarService.java
  src/main/java/team/studywithme/service/BoardService.java
  src/main/java/team/studywithme/service/CommentService.java
  src/main/java/team/studywithme/service/PostService.java
  src/main/resources/sql/data.sql
  src/test/java/team/studywithme/service/BoardServiceTest.java
  src/test/java/team/studywithme/service/CommentServiceTest.java
  src/test/java/team/studywithme/service/PostServiceTest.java
  src/test/java/team/studywithme/service/structure/BaseServiceTest.java
  src/test/java/team/studywithme/service/structure/BoardDataServiceTest.java
  src/test/java/team/studywithme/service/structure/PostDataServiceTest.java
  src/test/java/team/studywithme/service/structure/UserDataServiceTest.java
  src/test/resources/application.yml
  src/test/resources/sql/data-test.sql
Labels: backend, feature, test, refactor

#39 refactor : "회원관련 기능 및 테스트코드와 리팩토링을 진행한다."
  src/main/java/team/studywithme/api/controller/ApiControllerAdvice.java
  src/main/java/team/studywithme/api/controller/AvatarApiController.java
  src/main/java/team/studywithme/api/controller/dto/request/GenericSingleRequest.java
  src/main/java/team/studywithme/api/controller/dto/request/NicknameRequest.java
  src/main/java/team/studywithme/repository/AccountRepository.java
  src/main/java/team/studywithme/repository/AvatarRepository.java
  src/main/java/team/studywithme/service/AccountService.java
  src/main/java/team/studywithme/service/AvatarService.java
Labels: backend, test, refactor

#42 "feature" : 게시물 관련 api와 테스트를 진행한다.
  src/main/java/team/studywithme/api/controller/BoardApiController.java
  src/main/java/team/studywithme/api/controller/PostApiController.java
  src/main/java/team/studywithme/api/controller/dto/request/UpdateCommentRequest.java
  src/main/java/team/studywithme/api/controller/dto/request/UpdatePostRequest.java
  src/main/java/team/studywithme/api/controller/dto/response/CommentDetailResponse.java
  src/main/java/team/studywithme/api/controller/dto/response/PostDetailResponse.java
  src/main/java/team/studywithme/api/controller/dto/response/PostResponse.java
  src/main/java/team/studywithme/config/WebConfig.java
  src/main/java/team/studywithme/repository/PostRepository.java
  src/main/java/team/studywithme/service/BoardService.java
  src/main/java/team/studywithme/service/CommentService.java
  src/main/java/team/studywithme/service/PostService.java
  src/main/java/team/studywithme/utils/profanity/KoreanProfanityFilter.java
  src/main/java/team/studywithme/utils/profanity/Words.java
  src/test/java/team/studywithme/service/BoardServiceTest.java
  src/test/java/team/studywithme/service/PostServiceTest.java
Labels: backend, feature, test, refactor

#43 refactor : "회원 관련 api와 테스트와 공통 예외로직 구성을 진행한다."
  src/docs/asciidoc/account_delete.adoc
  src/docs/asciidoc/account_get.adoc
  src/docs/asciidoc/avatar_update.adoc
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/kakao.adoc
  src/docs/asciidoc/logout.adoc
  src/main/java/team/studywithme/api/controller/AccountApiController.java
  src/main/java/team/studywithme/api/controller/ApiControllerAdvice.java
  src/main/java/team/studywithme/api/controller/dto/response/IllegalArgumentExceptionResponse.java
  src/main/java/team/studywithme/api/controller/dto/response/LoginResponse.java
  src/main/java/team/studywithme/api/controller/dto/response/UserResponse.java
  src/main/java/team/studywithme/repository/CommentRepository.java
  src/main/java/team/studywithme/repository/PostRepository.java
  src/main/java/team/studywithme/service/AccountService.java
  src/main/java/team/studywithme/service/AvatarService.java
  src/main/java/team/studywithme/service/PostService.java
  src/main/java/team/studywithme/utils/kakao/KakaoLoginUtils.java
  src/main/resources/sql/data.sql
  src/test/java/team/studywithme/api/controller/AccountApiControllerTest.java
  src/test/java/team/studywithme/api/controller/AvatarApiControllerTest.java
  src/test/java/team/studywithme/service/AccountServiceTest.java
  src/test/java/team/studywithme/service/AvatarServiceTest.java
  src/test/java/team/studywithme/service/BoardServiceTest.java
  src/test/java/team/studywithme/service/CommentServiceTest.java
  src/test/java/team/studywithme/service/PostServiceTest.java
  src/test/java/team/studywithme/service/structure/BaseServiceTest.java
  src/test/java/team/studywithme/structure/BaseDataTest.java
  src/test/java/team/studywithme/structure/BoardDataTest.java
  src/test/java/team/studywithme/structure/PostDataTest.java
  src/test/java/team/studywithme/structure/UserDataTest.java
  src/test/resources/application.yml
Labels: backend, feature, test, refactor
